@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --purple: #7307c8;
    --white: #fff;
    --black: #000;
    --lightgray: rgb(219, 219, 219);
    --darkgray: rgb(51, 49, 49);
    --teal: #09CCC0;
}

body {
  font-family: 'Red Hat Display', sans-serif;
} 

.menu {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.menu img {
  width: 60%;
  padding: 0.9rem 0 0 0;
}

.menu a {
  color: var(--mediumgray);
  text-decoration: none;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.right li {
  padding-left: 25px;
}

.right .purpbg {
  background-color: var(--purple);
  color: var(--white);
  font-weight: bold;
  padding: 2rem;
}

.right i {
  color: var(--purple);
}

.signin > a:nth-child(1) {
  color: var(--purple);
}

.far {
  margin-right: 10px;
}

.topsection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  margin-top: 20px;
}

.top img {
 width: 1275px;
 height:350px;
 object-fit: cover; 
}

.top > h1 {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 100px;
  line-height: 158.76px;
  font-weight: 500px;
  font-style: normal;
  color: white;
}

.travel-experience {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 55px;
  padding: 10px;
}

.experience > p {
  margin-right: 20px;
  width: 838px 
}

h4{
  color: #7307c8;
}

.hiking img{
  float: right;
  width: 310px;
  height: 250px;
  margin-left: 20px;
  margin-right: 35px;
  border-radius: 5px;
}


.middlecontent {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.middlecontent:before {    
  content: "";
  background-image: url("/assets/img/worldmapbg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: 85%;
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}

.middlecontent > h2 {
  color: black;
  font-weight: bold;
  
}

.touryst > h2 {
  margin-bottom: 50px;
  text-align: center;
}

.success {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-content: space-around;
  margin-top: 30px;
}

h3 {
  color: #7307c8;
}

.tours {
  margin-right: 100px;
}

.destinations {
  margin-right: 100px;
}

.partners{
  margin-right: 100px;
}

hr{
  width: 70%;
  margin:auto;
  border: none;
  border-top: 1px solid rgb(179, 175, 175);
}


.goal {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align:left;
  margin-top: 200px;
  margin-right: 450px;
}

.goal > p{
  margin-left: 100px;
  
}

.link {
  margin-top: 20px;
}
.link > a{
  text-decoration: none;
  font-size: bold;
  margin-right: 480px;
  padding-top: 60px;
  font-size: bold;
}

.staffing {
  margin-left: 45%;
}


.staff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.rob img {
  width: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.rob > h5 {
  margin-right: 40px;
  margin-top: 10px;
}

.jen img {
  width: 210px;
  height: 205px;
  border-radius: 70%;
  margin-right: 50px;
}

.jen > h5 {
  margin-right: 40px;
  margin-top: 8px;
}

.sam img {
  width: 220px;
  height: 210px;
  border-radius: 75%;
  margin-right: 50px;
}

.sam > h5 {
  margin-right: 40px;
  margin-top: 8px;
}

.jaz img {
  width: 235px;
  height: 210px;
  border-radius: 75%;
}

.jaz > h5 {
  margin-right: 1.5px;
  margin-top: 8px;
}

.opportunity {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: center;
  align-content: space-between;
}

.recruiting {
  margin-left: 100px;
}


.illustration img {
  margin-right: 60px;
}

/*----------------------- BODY STYLING ------------------------------*/

button {
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  margin: 20px 0;
  padding: 10px 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 90px 0;
  padding: 20px 0;
}

/*----------------------- SOCIAL AND NEWSLETTER SECTION START ------------------------------*/

.prefooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0;
  padding: 4rem;
  background-color: var(--darkgray);
}

.prefooter ul {
  list-style-type: none;
}

.prefooter a {
  color: var(--white);
  text-decoration: none;
}

.footerlinks {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

.socialmediaicons {
  display: inline-flex;
  color: var(--teal);
}

.socialmediaicons li {
  margin: 1rem 1.25rem 0 0;
}

.newsletter h1 {
  color: var(--white);
}

.newsletter input[type="email"] {
  border: none;
  width: 50%;
  background: var(--white);
  border-radius: 0.25rem;
  margin: 0 1rem 0 0;
  padding: 0.75rem 12rem 0.75rem 1rem;
}

/*----------------------- FOOTER START ------------------------------*/

footer {
  background-image: url("/assets/img/Main Top Image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footertxtcontainer {
  background-color: #09ccbfb7;
  height: inherit;
}

.footertxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footertxt h2 {
  color: var(--white);
  margin-bottom: 1rem;
}

/*----------------------- RESPONSIVNESS ------------------------------*/

@media only screen and (max-width: 40em) {
  /*--- HEADER ---*/

  header {
    display: flex;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu a {
    font-size: 3vw;
  }

  .menu > a {
    display: flex;
    justify-content: center;
  }

  .menu img {
    width: 60%;
    padding: 1rem 0 1rem 0;
  }

.right {
  font-size: 1rem;
}

  .right .purpbg {
    padding: 2vh;
  }

  /*--- SOCIAL LINK AND NEWSLETTER ---*/

  .prefooter {
    overflow: hidden;
    padding: 2rem;
  }

  .prefooter a {
    font-size: 4vw;
  }

  .newsletter {
    padding-left: 2vw;
  }

  .newsletter input[type="email"] {
    padding: 0.75rem 5.5rem 0.75rem 1rem;
    margin: 1rem 0 0 0;
  }

  /*--- FOOTER ---*/

  .newsletter h1 {
    font-size: 5.75vw;
    text-align: left;
  }

  
  .footertxt h2 {
    font-size: 1.2rem;
  }

  }