@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #7307c8;
  --white: #fff;
  --black: #000;
  --lightgray: rgb(219, 219, 219);
  --mediumgray: #8a8a8a;
  --darkgray: #333;
  --teal: #09ccc0;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 19px;
}

h1,
h2,
h3 {
  color: var(--black);
}

p {
  font-size: 14px;
}

/*-----------------------HEADER------------------------------*/

.menu {
  display: flex;
  justify-content: space-between;
}

.menu img {
  width: 60%;
  padding: 0.9rem 0 0 0;
}

.menu a {
  color: var(--mediumgray);
  text-decoration: none;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.right li {
  padding-left: 25px;
}

.right .purpbg {
  background-color: var(--purple);
  color: var(--white);
  font-weight: bold;
  padding: 2rem;
}

.right i {
  color: var(--purple);
}

.signin > a:nth-child(1) {
  color: var(--purple);
}

.far {
  margin-right: 10px;
}

/*----------------------- BODY STYLING ------------------------------*/

button {
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  margin: 20px 0;
  padding: 10px 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tourname button {
  background-color: var(--teal);
  border-radius: 0px;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 90px 0;
  padding: 20px 0;
}
.tourname,
.tourimg,
.overview {
  margin: 1rem 5rem;
  padding: 0;
}

.tourimg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "one one two two"
    "one one three four";
  height: 500px;
}

.one {
  grid-area: one;
  background-image: url("/img/Yizrl9N_eDA-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.two {
  grid-area: two;
  background-image: url("/img/Yizrl9N_eDA.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.three {
  grid-area: three;
  background-image: url("/img/Yizrl9N_eDA-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.four {
  grid-area: four;
  background-image: url("/img/Yizrl9N_eDA-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*----------------------------------------------- OVERVIEW -----------------------------------------------*/

.overview h3 {
  padding: 2rem 0 0 0;
}

.overview p {
  padding-top: 0.6rem;
}

.headline {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.headline h3 {
  padding-right: 10rem;
}

.headline i {
  padding: 0 0.6rem 0 2.8rem;
}

.headline p {
  font-weight: bold;
}

/*----------------------------------------------- TESTIMONIAL -----------------------------------------------*/

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  margin: 0 5rem;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--mediumgray);
}

.test > i {
  padding-right: 0.9rem;
}

.namemonth {
  width: 9vw;
}

.starcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starcontainer i {
  padding: 0 0.2rem;
  color: var(--teal);
}

.testtxt {
  padding-left: 2rem;
}

.testimonial button {
  width: 20%;
  align-items: center;
}

.nearby {
  align-items: center;
}

.nearbycitiescontainer {
  display: flex;
  flex-direction: row;
}

.cityimg {
  background-color: var(--purple);
  width: 550px;
  height: 300px;
  padding: 3rem;
  margin: 2rem 1rem auto;
}

.cityimg h1 {
  color: var(--white);
  text-align: center;
}

.ci1 {
  background-image: url("/img/Rectangle 171.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ci2 {
  background-image: url("/img/Rectangle 172.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------------- SOCIAL AND NEWSLETTER SECTION START ------------------------------*/

.prefooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0;
  padding: 4rem;
  background-color: var(--darkgray);
}

.prefooter ul {
  list-style-type: none;
}

.prefooter a {
  color: var(--white);
  text-decoration: none;
}

.footerlinks {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

.socialmediaicons {
  display: inline-flex;
  color: var(--teal);
}

.socialmediaicons li {
  margin: 1rem 1.25rem 0 0;
}

.newsletter h1 {
  color: var(--white);
}

.newsletter input[type="email"] {
  border: none;
  width: 50%;
  background: var(--white);
  border-radius: 0.25rem;
  margin: 0 1rem 0 0;
  padding: 0.75rem 12rem 0.75rem 1rem;
}

/*----------------------- FOOTER START ------------------------------*/

footer {
  background-image: url("/img/Main Top Image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footertxtcontainer {
  background-color: #09ccbfb7;
  height: inherit;
}

.footertxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footertxt h2 {
  color: var(--white);
  margin-bottom: 1rem;
}

/*----------------------- RESPONSIVNESS ------------------------------*/

@media only screen and (max-width: 40em) {
  /*--- HEADER ---*/

  header {
    display: flex;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu a {
    font-size: 3vw;
  }

  .menu > a {
    display: flex;
    justify-content: center;
  }

  .menu img {
    width: 60%;
    padding: 1rem 0 1rem 0;
  }

  .right {
    font-size: 1rem;
  }

  .right .purpbg {
    padding: 2vh;
  }

  /*--- SOCIAL LINK AND NEWSLETTER ---*/

  .prefooter {
    overflow: hidden;
    padding: 2rem;
  }

  .prefooter a {
    font-size: 4vw;
  }

  .newsletter {
    padding-left: 2vw;
  }

  .newsletter input[type="email"] {
    padding: 0.75rem 5.5rem 0.75rem 1rem;
    margin: 1rem 0 0 0;
  }

  /*--- FOOTER ---*/

  .newsletter h1 {
    font-size: 5.75vw;
    text-align: left;
  }

  .footertxt h2 {
    font-size: 1.2rem;
  }
}
