@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #7307c8;
  --white: #fff;
  --black: #000;
  --lightgray: rgb(219, 219, 219);
  --mediumgray: #8a8a8a;
  --darkgray: #333;
  --teal: #09ccc0;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 19px;
}

h1,
h2,
h3 {
  color: var(--black);
}

p {
  font-size: 14px;
}
/*-----------------------HEADER------------------------------*/

.menu {
  display: flex;
  justify-content: space-between;
}

.menu img {
  width: 60%;
  padding: 0.9rem 0 0 0;
}

.menu a {
  color: var(--mediumgray);
  text-decoration: none;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.right li {
  padding-left: 25px;
}

.right .purpbg {
  background-color: var(--purple);
  color: var(--white);
  font-weight: bold;
  padding: 2rem;
}

.right i {
  color: var(--purple);
}

.signin > a:nth-child(1) {
  color: var(--purple);
}

.far {
  margin-right: 10px;
}

.cityimg {
  background-color: var(--purple);
  width: 550px;
  height: 300px;
  padding: 3rem;
  margin: 2rem 1rem auto;
}

.cityimg h1 {
  color: var(--white);
  text-align: center;
}

.ci1 {
  background-image: url("/img/Rectangle 171.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ci2 {
  background-image: url("/img/Rectangle 172.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nearby {
  align-items: center;
}

.nearbycitiescontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*----------------------- LOCATION + DATE SEARCH + SEARCH RESULTS ------------------------------*/

.location-top-box{
  width:97%;
  height:149px;
  margin: auto;
  margin-top: 40px;
  background-color:#E5E5E5;
  border:1px solid #C3C7D2;
  border-radius: 4px;
}

.location-date {
  display:flex;
  padding-top: 65px;
  justify-content: space-evenly;
}

.topbox1 {
  background-color: white;
  border:2px #C3C7D2 solid;
  width:240px;
  height:25px;
  padding-top:4px;
  padding-left:12px;
}

.topbox2 {
  background-color: white;
  border:2px #C3C7D2 solid;
  width:140px;
  height:25px;
  padding-top:4px;
  padding-left:12px;
}

.topbox3 {
  background-color: white;
  border:2px #C3C7D2 solid;
  width:140px;
  height:25px;
  padding-top:4px;
  padding-left:12px;
}

.topbox4 {
  background-color: white;
  border:2px #C3C7D2 solid;
  width:120px;
  height:25px;
  padding-top:4px;
  padding-left:12px;
}

.topsearchbutton{
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  padding: 10px 45px;
  border: none;
  border-radius: 5px;
}


.sort-text{
  margin-top:20px;
  margin-left:20px;
  margin-bottom:5px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.relevant-box{
  width:260px;
  height:20px;
  margin-left:20px;
  background-color: white;
  color:var(--purple);
  font-size:13px;
  border: solid #C3C7D2 1px;
  font-weight:700px;
  font-weight: bolder;
  padding-left:10px;

}

.search-results-line{
  display:flex;
  margin-left:20px;
  margin-top:20px;
}

.search-results-title{
  Font-size: 21px;
  Line-height: 28px;
}

.matches{
  Font-size: 21px;
  margin-left: 10px;
  font-weight:lighter;
  color: #8B8899;
}

.bold-LA{
  color:var(--purple);
}
/*----------------------- SEARCH RESULT BOXES ------------------------------*/

.search-results-image-boxes{
  display:flex;
  justify-content: space-between;
  padding: 2em;
  margin-left:-33px;
  flex-flow: wrap;
}


.search-box-container-1{
  width:350px;
  height:335px;
  margin-left:20px;
  margin-top:20px;
  box-shadow: 5px 5px 15px .5px rgba(0, 0, 0, 0.15);
  border-radius:12px;

}

.Site-seeing-text{
  background-color:var(--teal);
  color:white;
  width:150px;
  height:25px;
  font-size:14px;
  text-align: center;
  font-weight:lighter;
  padding-left:20px;
  padding-top:5px;
  margin-top:.2px;
  margin-left:9.5px;
  position:absolute;
  border-top-left-radius:7px ;

}

.search-box-headline{
  font-size:18px;
  margin-top:15px;
  margin-left:10px;
}

.search-box-paragraph{
  margin-top:3px;
  font-size:12px;
  font-weight:lighter;
  margin-left:10px;
  width:320px;
}

.yosemitepic1{
  display:flex;
  margin-left:10px;
  margin-top:10px;

}

.see-details-button{
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  width:130px;
  height:30px;
  border: none;
  border-radius: 5px;
  margin-left:30%;
  margin-top:13px;
  font-size:10px;

}

/*----------------------- SOCIAL AND NEWSLETTER SECTION START ------------------------------*/

.prefooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0;
  padding: 4rem;
  background-color: var(--darkgray);
}

.prefooter ul {
  list-style-type: none;
}

.prefooter a {
  color: var(--white);
  text-decoration: none;
}

.footerlinks {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

.socialmediaicons {
  display: inline-flex;
  color: var(--teal);
}

.socialmediaicons li {
  margin: 1rem 1.25rem 0 0;
}

.newsletter h1 {
  color: var(--white);
}

.newsletter input[type="email"] {
  border: none;
  width: 50%;
  background: var(--white);
  border-radius: 0.25rem;
  margin: 0 1rem 0 0;
  padding: 0.75rem 12rem 0.75rem 1rem;
}

/*----------------------- FOOTER START ------------------------------*/

footer {
  background-image: url("/assets/img/Main Top Image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footertxtcontainer {
  background-color: #09ccbfb7;
  height: inherit;
}

.keep-exploring-text{
  font-size: 30px;
  margin-left:20px;
  margin-top:20px;
}

.footertxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footertxt h2 {
  color: var(--white);
  margin-bottom: 1rem;
}
.signup-email-button{
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  padding: 10px 45px;
  border: none;
  border-radius: 5px;

}

/*----------------------- RESPONSIVNESS ------------------------------*/

@media only screen and (max-width: 40em) {
  /*--- HEADER ---*/

  header {
    display: flex;
    justify-content: center;
    font-size: 8px;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu a {
    font-size: 3vw;
  }

  .menu > a {
    display: flex;
    justify-content: center;
  }

  .menu img {
    width: 60%;
    padding: 1rem 0 1rem 0;
  }

  .right {
    font-size: 1rem;
  }

  .right .purpbg {
    padding: .5vh;
  }

  /*--- LOCATION +DATE +SEARCH RESULTS---*/
  .location-date {
    display:flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .topbox1 {
    margin-bottom:7px;

  }
  .topbox4 {
    margin-top:7px;
  }
  .topsearchbutton{
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    margin-top:7px;
  }
  .search-results-title{
    font-size: 10px;
    margin-top: -7px;
  }
  .matches{
    font-size: 11px;
  }

  /*--- SEARCH RESULT BOXES ---*/
  .search-results-image-boxes{
    display:flex;
    flex-direction: column;
  }



  /*--- SOCIAL LINK AND NEWSLETTER ---*/

  .prefooter {
    overflow: hidden;
    padding: 2rem;
  }

  .prefooter a {
    font-size: 4vw;
  }

  .newsletter {
    padding-left: 2vw;
  }

  .newsletter input[type="email"] {
    padding: 0.75rem 5.5rem 0.75rem 1rem;
    margin: 1rem 0 0 0;
  }

  /*--- FOOTER ---*/
  .nearbycitiescontainer{
    display:flex;
    flex-wrap:wrap;

  }

  .newsletter h1 {
    font-size: 5.75vw;
    text-align: left;
  }

  .footertxt h2 {
    font-size: 1.2rem;
  }
}
