<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"referrerpolicy="no-referrer" />
    <title>About Us</title>
    <link rel="shortcut icon" type="image/jpg" href="" />
    <link rel="stylesheet" href="/css/about.css">
    <!-- <link rel="stylesheet" href="/headerfooter.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header">
      <div class="menu">
        <a href="#"><img src="/img/Group 186.png" alt="Touryst Logo"></a>
        <ul class="right">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="signin"><a href="/login"><i class="far fa-user-circle"></i>Login</a></li>
            <li><a href="/register" class="purpbg">Join Now</a></li>
        </ul>
      </div>
    </header>

    <!-- <hr> -->
    
    <section class="topsection">
      <div class="top">
        <h1>About Us</h1>
        <img src="/img/sunset.jpeg" alt="sunset">
        
      </div>
    </section>

    <section class="travel-experience">
      <div class="experience">
        <h4>Experiences can will make you better <br>
        Get out and see the world</h4>
        <br>
        <p>Touryst offers the most thoughful, fun-filled and unique travel experiences around the world. We have carefully curated <br>
        tours through our own personal travels coupled with highly rated feedback from our members. We are extremely excited to offer these experiences to you and hope that you love tem as much as we do.
        </p>
      </div>
      <div class="hiking">
        <img src="/img/hicker.jpg" alt="hiker">
      </div>      
    </section>

    <section class="middlecontent">
      <div class="touryst">
        <h2>We are Touryst</h2>

        <div class="success">
          <div class="tours">
            <h3>5000+</h3>
            <p>TOURS</p>
          </div>

          <div class="destinations">
            <h3>100+</h3>
            <p>DESTINATIONS</p>
          </div>

          <div class="partners">
            <h3>1000+</h3>
            <p>PARTNERS</p>
          </div>

          <div class="members">
            <h3>3.5M+</h3>
            <p>MEMBERS/MONTH</p>
          </div> 
        </div>   
      </div> 

      <hr>
            
      <div class="goal">
        <h2>Our Goal</h2>
        <p>Experience travel like you never have before.<br> <br>
        See places you never knew excited.<br><br>
        Fall in love with travelling.</p><br><br> 
      </div>

      <div class="link">
        <a href="">View Tours</a>
      </div>      

    </section>

    <div class="staffing">
      <h2>Our Team</h2>
    </div>

    <section class="staff">      
      <div class="rob">
        <img src="/img/Robert Smith.jpg" alt="Team Member: Robert Smith">
        <h5>Robert Smith</h5>
      </div>

      <div class="jen">
        <img src="/img/Jennifer O'Conner.jpeg" alt="Team Member: Jennifer O'Conner">
        <h5>Jennifer O'Conner</h5>
      </div>

      <div class="sam">
        <img src="/img/Samuel Richards.webp" alt="Team Member: Samuel Richards">
        <h5>Samuel Richards</h5>
      </div>

      <div class="jaz">
        <img src="/img/Jasmine Prescott.jpg" alt="Team Member: Jasmine Prescott">
        <h5>Jasmine Prescott</h5>
      </div>

    </section>

    <hr>

    <section class="opportunity">
      <div class="illustration">
        <img src="/img/hiring.jpeg" alt="Job Opportunities">
      </div>

      <div class="recruiting">
        <h3>We're Hiring!</h3><br>
        <p>Are you passionate about travel? <br>
        Explore our career opportunities</p>
        <button>Apply</button>
      </div>

    </section>

    <section class="prefooter">
        <div class="footerleft">
            <ul class="footerlinks">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>

            <ul class="socialmediaicons">
                <li><i class="fab fa-twitter fa-2x"></i></li>
                <li><i class="fab fa-facebook-f fa-2x"></i></li>
                <li><i class="fab fa-instagram fa-2x"></i></li>
            </ul>
        </div>

        <div class="newsletter">
            <h1>Be in the know on all travel deals and news</h1>
        <div class="newslettercontainer">
            <input type="email" placeholder="Email Address: "><button type="submit">Sign Up</button>
        </div>
        </div>
        
</section>



    <footer>
        <div class="footertxtcontainer">
            <div class="footertxt">
                <h2>Experience the Adventure that Awaits you!</h2></br>
                <p> &#169; 2021 Toursyt | All Rights Reserved </br>
                Privacy Policy | Terms & Conditions</p>
            </div>
        </div>
    </footer> 
    


   











  </body>



</html>