<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">@import url(/css/style.css);</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Touryst</title>
    <link rel="shortcut icon" type="image/jpg" href=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header class="header">
    <div class="menu">
        <a href="#"><img src="/img/Group 186.png" alt="Touryst Logo"></a>
        <ul class="right">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/contactus.html">Contact</a></li>
            <li class="signin"><a href="/auth/login"><i class="far fa-user-circle"></i>Sign In</a></li>
            <li><a href="#" class="purpbg">Join Now</a></li>
        </ul>
    </div>
</header>

<section class="heroimg">
    <h1>Your Adventure Awaits!</h1>
    <h2>Risk free booking at only $150 down</h2>
    <div class="seachcontainer">
        <div class="searchinputs">
            <input type="text" id="destination" name="destination" placeholder="Destination"><input type="date" value="Check In"><input type="date" value="Check Out"><input type="number" id="number" name="number" placeholder="Number of Travelers"><button type="submit" value="Submit">Search</button>
        </div>
    </div>
</section>

<section class="tritours">
    <h1>Select Tours on Sale Now Through August!</h1>
    <h3>Save up to $365 for tours in 2021 and 2022</h3></br>
    <h3>Choose our carefully selected and crafted tours made for the traveler like you!</h3>

    <div class="tritourscontainer">
        <div class="tours">
            <div class="toursimgframe tif1"></div><p>Proin aptent pellentesque accumsan scelerisque id ligula etiam elementum ante urna fringilla porttitor faucibus quisque est suscipit leo semper volutpat.</p>
        </div>
        <div class="tours">
            <div class="toursimgframe tif2"></div><p>Proin aptent pellentesque accumsan scelerisque id ligula etiam elementum ante urna fringilla porttitor faucibus quisque est suscipit leo semper volutpat.</p>
        </div>
        <div class="tours">
            <div class="toursimgframe tif3"></div><p>Proin aptent pellentesque accumsan scelerisque id ligula etiam elementum ante urna fringilla porttitor faucibus quisque est suscipit leo semper volutpat.</p>
        </div>
    </div>
</section>


<section class="tritoursblurb">
    <p>Orci per hac etiam dictum. Torquent turpis cubilia massa cras ullamcorper sapien lacus blandit sodales posuere vulputate dictumst varius massa adipiscing viverra dapibus mattis. Vitae vestibulum hymenaeos torquent venenatis curabitur.</p>

    <a href="#"><button type="button">Sign-up for a Tour</button></a>
</section>

<section class="sixtours">
    <div class="tour-container">
        <div class="tour-left">
            <!--                TODO: make functionality for images and links-->
            <div class="destination-left">
                <h2>USA</h2>
                <a href="#"><img class="item" src="/img/newyork.png"  alt="Image of The Statue of Liberty located New York, New York"></a>
            </div>
            <div class="destination-left">
                <h2>Europe</h2>
                <a href="#"><img class="item" src="/img/italy.png"  alt="Image of a mountainous town next to a river"></a>
            </div>
            <div class="destination-left">
                <h2>Asia</h2>
                <a href="#"><img class="item" src="/img/china.png"  alt="Image of a traditional archway next to a body of water"></a>
            </div>
        </div>
        <div class="tour-right">
            <div class="destination-right">
                <h2>Caribbean</h2>
                <img src="/img/caribbean.png" alt="Image of a boardwalk leading to the ocean surrounded by palm trees">
            </div>
            <div class="destination-right">
                <h2>Africa</h2>
                <img src="/img/africa.png" alt="Image of a tree in The Sahara Desert">
            </div>
            <div class="destination-right">
                <h2>View All Tours</h2>
                <a href="/tours"><img class="item" src="/img/Rectangle 90.png" alt="Image of a map of Earth surrounded by different countries currencies"></a>
            </div>
        </div>
    </div>
</section>

<section class="whybook">
    <h1>Why Book with Us?</h1>
    <div class="wblistcontainer">
        <div class="wblistleft">
            <ul>
                <li><button type="button"><h3>24/7 Customer Service Team</h3></button></li>
                <li><button type="button"><h3>Solo Travel Tours</h3></button></li>
                <li><button type="button"><h3>Curated Tours Tailored for You</h3></button></li>
            </ul>
        </div>
        <div class="wblistright">
            <ul>
                <li><button type="button"><h3>Carefully Selected Local Tour Guides</h3></button></li>
                <li><button type="button"><h3>Airfare and Transportation</h3></button></li>
                <li><button type="button"><h3>Four and Five Star Hotels</h3></button></li>
            </ul>
        </div>
    </div>

    <h2>Whether solo, group or private, Touryst is here to tailor your tours based on your interests.</h2></br>
    <a href="#"><button type="button">Sign Up For A Tour</button></a>
</section>

<section class="tourtypes">
    <div class="tourtypes-container">
<!--        TODO: CREATE FUNCTIONALITY FOR H2 AND IMAGES-->
        <div class="tourselection">
            <a href="#"><h2>Solo Tours</h2></a>
            <img src="/img/soloT.png" alt=""><p>Meet like-minded travelers, make memories and life-long friends!</p>
        </div>
        <div class="tourselection">
            <a href="#"><h2>Group Tours</h2></a>
            <img src="/img/groupT.png" alt=""><p>Explore the world on your own!</p>
        </div>
        <div class="tourselection">
            <a href="#"><h2>Private Tours</h2></a>
            <img src="/img/privateT.png" alt=""><p>Bring your friends and family along and make it a trip remember!</p>
        </div>
    </div>
</section>

<section class="socialproof">
    <h1>Social Testimonial</h1>
    <div class="testimonial">
        <div class="socialproofimgframe"></div>
        <p>"I love that Toursyt helped me with every detail of planning my solo trip to Paris."<br>-Barbara D.</p>
    </div>
    <a href="#"><button>Sign-Up for a Tour</button></a>
</section>

<section class="traveltype">
    <h1>Travel Type</h1>

    <div class="top-preference">
        <div class="top-selection">
            <h3>Food & Wines Tours</h3>
            <img src="/img/foodnwine.png"  alt="">
        </div>
        <div class="top-selection">
            <h3>Adventure Tours</h3>
            <img src="/img/adventure.png" alt="">
        </div>
        <div class="top-selection">
            <h3>National Park Tours</h3>
            <img src="/img/nationalpark.png" alt="">
        </div>
    </div>
    <div class="bottom-preference">
        <div class="bottom-selection">
            <h3>Castle Tours</h3>
            <img src="/img/castle.png" alt="">
        </div>
        <button>View All Travel Types</button>
    </div>
</section>

<section class="companyInfo">
    <p>This is the first year for Touryst and we're very happy with providing all our curated and specially designed tours for our special travelers!</p>
</section>

<section class="prefooter">
    <div class="footerleft">
        <ul class="footerlinks">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>

        <ul class="socialmediaicons">
            <li><i class="fab fa-twitter fa-2x"></i></li>
            <li><i class="fab fa-facebook-f fa-2x"></i></li>
            <li><i class="fab fa-instagram fa-2x"></i></li>
        </ul><button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fas fa-chevron-up"></i></br>Top</button>
    </div>

    <div class="newsletter">
        <h1>Be in the know on all travel deals and news</h1>
        <div class="newslettercontainer">
            <input type="email" placeholder="Email Address: "><button type="submit">Sign Up</button>
        </div>
    </div>
</section>

<footer>
    <div class="footertxtcontainer">
        <div class="footertxt">
            <h2>Experience the Adventure that Awaits You!</h2></br>
            <p> 2021 Toursyt | All Rights Reserved </br>
                Privacy Policy | Terms & Conditions</p>
        </div>
    </div>
</footer>
</body>

<script>
  //Get the button:
  mybutton = document.getElementById("topBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.documentElement.scrollTop > 850) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>
</html>
