<!DOCTYPE html>
<html>
<head>
    <style type="text/css">@import url(style.css);</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Touryst</title>
    <link rel="shortcut icon" type="image/jpg" href=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
    <div class="menu">
        <a href="#"><img src="placeholderlogo.jpg" alt="Touryst Logo"></a>
        <ul class="right">
            <li><a href="./contactus.html"><i class="fas fa-search"></i>Search</a></li>
            <li><a href="./contactus.html">About Us <i class="fas fa-chevron-down"></i></a></li>
            <li><a href="./contactus.html">Destination <i class="fas fa-chevron-down"></i></a></li>
            <li><a href="./contactus.html">Tour Type <i class="fas fa-chevron-down"></i></a></li>
            <li><a href="./contactus.html">Contact Us</a></li>
        </ul>
    </div>
</div>

<div class="boop"><h3>Login To Your Account</h3></div>
<div class="form-container">
    <form>
        <fieldset>
            <input type="text" id="username" name="username" value="Username"><br>
            <input type="text" id="password" name="password" value="Password"><br><br>
            <button type="button">Sign In</button>
        </fieldset>

        <input type="checkbox" id="rememberMe" name="rememberMe" value="Yes">
        <label for="rememberMe">Remember Me</label></br><button type="button">Forgot Password</button>
    </form>
</div>

<div class="sm-icon">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-pinterest"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin"></i>
</div>
</body>

</html> 
